<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
          <h1 class="text-info text-center">update course</h1>
        <div class="card">
          <div class="card-body">
            <div class="form-group">
              <label>name :-</label>
              <input type="text" class="form-control" placeholder="name" [(ngModel)]="object.name" #cName="ngModel" required>
              <div *ngIf="cName.invalid && cName.touched" class="alert alert-danger">
                please enter valid data
              </div>
            </div>
            <div class="form-group">
              <label>period :-</label>
              <input type="text" class="form-control" placeholder="period" [(ngModel)]="object.period" #cperiod="ngModel" required>
              <div *ngIf="cperiod.invalid && cperiod.touched" class="alert alert-danger">
                please enter valid data
              </div>
            </div>
          </div>
  
          <div *ngIf="cName.valid && cperiod.valid" class="mx-auto">
            <button (click)="change(cName, cperiod)" class="btn-outline-info btn my-2">send data</button>
          </div>
  
          <div *ngIf="cName.invalid || cperiod.invalid" class="mx-auto">
            <button class="btn-outline-info btn my-2" disabled>send data</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  